# Our job is to predict amount of loan should be sanctioned to a customer based on given features

In [242]:
import pandas as pd

In [243]:
df=pd.read_csv('dataset/train.csv')

In [244]:
df.head()

,Customer ID,Name,Gender,Age,Income (USD),Income Stability,Profession,Type of Employment,Location,Loan Amount Request (USD),...,Credit Score,No. of Defaults,Has Active Credit Card,Property ID,Property Age,Property Type,Property Location,Co-Applicant,Property Price,Loan Sanction Amount (USD)
0,C-36995,Frederica Shealy,F,56,1933.05,Low,Working,Sales staff,Semi-Urban,72809.58,...,809.44,0,NaN,746,1933.05,4,Rural,1,119933.46,54607.18
1,C-33999,America Calderone,M,32,4952.91,Low,Working,NaN,Semi-Urban,46837.47,...,780.40,0,Unpossessed,608,4952.91,2,Rural,1,54791.00,37469.98
2,C-3770,Rosetta Verne,F,65,988.19,High,Pensioner,NaN,Semi-Urban,45593.04,...,833.15,0,Unpossessed,546,988.19,2,Urban,0,72440.58,36474.43
3,C-26480,Zoe Chitty,F,65,NaN,High,Pensioner,NaN,Rural,80057.92,...,832.70,1,Unpossessed,890,NaN,2,Semi-Urban,1,121441.51,56040.54
4,C-23459,Afton Venema,F,31,2614.77,Low,Working,High skill tech staff,Semi-Urban,113858.89,...,745.55,1,Active,715,2614.77,4,Semi-Urban,1,208567.91,74008.28

In [245]:
df.columns

Index(['Customer ID', 'Name', 'Gender', 'Age', 'Income (USD)',
       'Income Stability', 'Profession', 'Type of Employment', 'Location',
       'Loan Amount Request (USD)', 'Current Loan Expenses (USD)',
       'Expense Type 1', 'Expense Type 2', 'Dependents', 'Credit Score',
       'No. of Defaults', 'Has Active Credit Card', 'Property ID',
       'Property Age', 'Property Type', 'Property Location', 'Co-Applicant',
       'Property Price', 'Loan Sanction Amount (USD)'],
      dtype='object')

In [246]:
df.describe(include='all')

,Customer ID,Name,Gender,Age,Income (USD),Income Stability,Profession,Type of Employment,Location,Loan Amount Request (USD),...,Credit Score,No. of Defaults,Has Active Credit Card,Property ID,Property Age,Property Type,Property Location,Co-Applicant,Property Price,Loan Sanction Amount (USD)
count,30000,30000,29947,30000.000000,2.542400e+04,28317,30000,22730,30000,30000.000000,...,28297.000000,30000.000000,28434,30000.000000,2.515000e+04,30000.000000,29644,30000.000000,3.000000e+04,29660.000000
unique,30000,30000,2,NaN,NaN,2,8,18,3,NaN,...,NaN,NaN,3,NaN,NaN,NaN,3,NaN,NaN,NaN
top,C-3438,Yang Mcentire,M,NaN,NaN,Low,Working,Laborers,Semi-Urban,NaN,...,NaN,NaN,Active,NaN,NaN,NaN,Semi-Urban,NaN,NaN,NaN
freq,1,1,15053,NaN,NaN,25751,16926,5578,21563,NaN,...,NaN,NaN,9771,NaN,NaN,NaN,10387,NaN,NaN,NaN
mean,NaN,NaN,NaN,40.092300,2.630574e+03,NaN,NaN,NaN,NaN,88826.333855,...,739.885381,0.193933,NaN,501.934700,2.631119e+03,2.460067,NaN,-4.743867,1.317597e+05,47649.342208
std,NaN,NaN,NaN,16.045129,1.126272e+04,NaN,NaN,NaN,NaN,59536.949605,...,72.163846,0.395384,NaN,288.158086,1.132268e+04,1.118562,NaN,74.614593,9.354955e+04,48221.146686
min,NaN,NaN,NaN,18.000000,3.777000e+02,NaN,NaN,NaN,NaN,6048.240000,...,580.000000,0.000000,NaN,1.000000,3.777000e+02,1.000000,NaN,-999.000000,-9.990000e+02,-999.000000
25%,NaN,NaN,NaN,25.000000,1.650457e+03,NaN,NaN,NaN,NaN,41177.755000,...,681.880000,0.000000,NaN,251.000000,1.650450e+03,1.000000,NaN,1.000000,6.057216e+04,0.000000
50%,NaN,NaN,NaN,40.000000,2.222435e+03,NaN,NaN,NaN,NaN,75128.075000,...,739.820000,0.000000,NaN,504.000000,2.223250e+03,2.000000,NaN,1.000000,1.099936e+05,35209.395000
75%,NaN,NaN,NaN,55.000000,3.090593e+03,NaN,NaN,NaN,NaN,119964.605000,...,799.120000,0.000000,NaN,751.000000,3.091407e+03,3.000000,NaN,1.000000,1.788807e+05,74261.250000
max,NaN,NaN,NaN,65.000000,1.777460e+06,NaN,NaN,NaN,NaN,621497.820000,...,896.260000,1.000000,NaN,999.000000,1.777460e+06,4.000000,NaN,1.000000,1.077967e+06,481907.320000

In [247]:
df.shape

(30000, 24)

In [248]:
df_test=pd.read_csv('dataset/test.csv')

In [249]:
df_test.shape

(20000, 23)

In [250]:
df_test.isnull().sum()

Customer ID                       0
Name                              0
Gender                           31
Age                               0
Income (USD)                    750
Income Stability                813
Profession                        0
Type of Employment             4689
Location                          0
Loan Amount Request (USD)         0
Current Loan Expenses (USD)      83
Expense Type 1                    0
Expense Type 2                    0
Dependents                     1142
Credit Score                    743
No. of Defaults                   0
Has Active Credit Card         1076
Property ID                       0
Property Age                    892
Property Type                     0
Property Location               160
Co-Applicant                      0
Property Price                    0
dtype: int64

In [251]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Customer ID                  30000 non-null  object
 1   Name                         30000 non-null  object
 2   Gender                       29947 non-null  object
 3   Age                          30000 non-null  int64
 4   Income (USD)                 25424 non-null  float64
 5   Income Stability             28317 non-null  object
 6   Profession                   30000 non-null  object
 7   Type of Employment           22730 non-null  object
 8   Location                     30000 non-null  object
 9   Loan Amount Request (USD)    30000 non-null  float64
 10  Current Loan Expenses (USD)  29828 non-null  float64
 11  Expense Type 1               30000 non-null  object
 12  Expense Type 2               30000 non-null  object
 13  Dependents                   27507 non-null  float64
 14  Credit Score                 28297 non-null  float64
 15  No. of Defaults              30000 non-null  int64
 16  Has Active Credit Card       28434 non-null  object
 17  Property ID                  30000 non-null  int64
 18  Property Age                 25150 non-null  float64
 19  Property Type                30000 non-null  int64
 20  Property Location            29644 non-null  object
 21  Co-Applicant                 30000 non-null  int64
 22  Property Price               30000 non-null  float64
 23  Loan Sanction Amount (USD)   29660 non-null  float64
dtypes: float64(8), int64(5), object(11)
memory usage: 5.5+ MB

In [252]:
df.isnull().sum()

Customer ID                       0
Name                              0
Gender                           53
Age                               0
Income (USD)                   4576
Income Stability               1683
Profession                        0
Type of Employment             7270
Location                          0
Loan Amount Request (USD)         0
Current Loan Expenses (USD)     172
Expense Type 1                    0
Expense Type 2                    0
Dependents                     2493
Credit Score                   1703
No. of Defaults                   0
Has Active Credit Card         1566
Property ID                       0
Property Age                   4850
Property Type                     0
Property Location               356
Co-Applicant                      0
Property Price                    0
Loan Sanction Amount (USD)      340
dtype: int64

In [253]:
df.dropna(axis=0,how='any',thresh=None,subset=['Loan Sanction Amount (USD)'],inplace=True)
df['Gender'].fillna(df['Gender'].mode()[0],inplace=True)
df['Income (USD)'].fillna(df['Income (USD)'].median(),inplace=True)
df['Income Stability'].fillna(df['Income Stability'].mode()[0],inplace=True)
df['Type of Employment'].fillna(df['Type of Employment'].mode()[0],inplace=True)
df['Current Loan Expenses (USD)'].fillna(df['Current Loan Expenses (USD)'].median(),inplace=True)
df['Credit Score'].fillna(df['Credit Score'].median(),inplace=True)
df['Dependents'].fillna(df['Dependents'].median(),inplace=True)
df['Has Active Credit Card'].fillna(df['Has Active Credit Card'].mode([0]),inplace=True)
df['Property Age'].fillna(df['Property Age'].median(),inplace=True)
df['Property Location'].fillna(df['Property Location'].mode()[0],inplace=True)

In [254]:
df_test['Gender'].fillna(df['Gender'].mode()[0],inplace=True)
df_test['Income (USD)'].fillna(df['Income (USD)'].median(),inplace=True)
df_test['Income Stability'].fillna(df['Income Stability'].mode()[0],inplace=True)
df_test['Type of Employment'].fillna(df['Type of Employment'].mode()[0],inplace=True)
df_test['Current Loan Expenses (USD)'].fillna(df['Current Loan Expenses (USD)'].median(),inplace=True)
df_test['Credit Score'].fillna(df['Credit Score'].median(),inplace=True)
df_test['Dependents'].fillna(df['Dependents'].median(),inplace=True)
df_test['Has Active Credit Card'].fillna(df['Has Active Credit Card'].mode()[0],inplace=True)
df_test['Property Age'].fillna(df['Property Age'].median(),inplace=True)
df_test['Property Location'].fillna(df['Property Location'].mode()[0],inplace=True)

In [255]:
df.isna().sum()

Customer ID                       0
Name                              0
Gender                            0
Age                               0
Income (USD)                      0
Income Stability                  0
Profession                        0
Type of Employment                0
Location                          0
Loan Amount Request (USD)         0
Current Loan Expenses (USD)       0
Expense Type 1                    0
Expense Type 2                    0
Dependents                        0
Credit Score                      0
No. of Defaults                   0
Has Active Credit Card         1545
Property ID                       0
Property Age                      0
Property Type                     0
Property Location                 0
Co-Applicant                      0
Property Price                    0
Loan Sanction Amount (USD)        0
dtype: int64

In [256]:
df_test.isna().sum()

Customer ID                    0
Name                           0
Gender                         0
Age                            0
Income (USD)                   0
Income Stability               0
Profession                     0
Type of Employment             0
Location                       0
Loan Amount Request (USD)      0
Current Loan Expenses (USD)    0
Expense Type 1                 0
Expense Type 2                 0
Dependents                     0
Credit Score                   0
No. of Defaults                0
Has Active Credit Card         0
Property ID                    0
Property Age                   0
Property Type                  0
Property Location              0
Co-Applicant                   0
Property Price                 0
dtype: int64

In [257]:
def f(col):
    li=df[col].unique()
    dic={}
    j=0
    for i in li:
        dic[i]=j
        j+=1
    df[col]=df[col].map(dic)
    return dic

In [258]:
customer_id_dic=f('Customer ID')
name_dic=f('Name')
gender_dic=f('Gender')
income_stability_dic=f('Income Stability')
profession_dic=f('Profession')
type_of_employement_dic=f('Type of Employment')
location_dic=f('Location')
exp_1_dic=f('Expense Type 1')
exp_2_dic=f('Expense Type 2')
has_active_dic=f('Has Active Credit Card')
property_loc_dic=f('Property Location')

In [259]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Customer ID                  20000 non-null  object
 1   Name                         20000 non-null  object
 2   Gender                       20000 non-null  object
 3   Age                          20000 non-null  int64
 4   Income (USD)                 20000 non-null  float64
 5   Income Stability             20000 non-null  object
 6   Profession                   20000 non-null  object
 7   Type of Employment           20000 non-null  object
 8   Location                     20000 non-null  object
 9   Loan Amount Request (USD)    20000 non-null  float64
 10  Current Loan Expenses (USD)  20000 non-null  float64
 11  Expense Type 1               20000 non-null  object
 12  Expense Type 2               20000 non-null  object
 13  Dependents                   20000 non-null  float64
 14  Credit Score                 20000 non-null  float64
 15  No. of Defaults              20000 non-null  int64
 16  Has Active Credit Card       20000 non-null  object
 17  Property ID                  20000 non-null  int64
 18  Property Age                 20000 non-null  float64
 19  Property Type                20000 non-null  int64
 20  Property Location            20000 non-null  object
 21  Co-Applicant                 20000 non-null  object
 22  Property Price               20000 non-null  object
dtypes: float64(6), int64(4), object(13)
memory usage: 3.5+ MB

In [260]:
df_test['Property Price']

0         236644.5
1         142357.3
2        300991.24
3         125612.1
4         180908.0
           ...
19995     212778.0
19996     90816.95
19997     21566.27
19998    120281.17
19999    133425.43
Name: Property Price, Length: 20000, dtype: object

In [261]:
def ftest(col,dic):
    t={}
    j=df[col].nunique()
    for i in df_test[col].unique():
        if i in dic:
            t[i]=dic[i]
        else:
            t[i]=j
            j+=1
    df_test[col]=df_test[col].map(t)

In [262]:
ftest('Name',name_dic)
ftest('Gender',gender_dic)
ftest('Income Stability',income_stability_dic)
ftest('Profession',profession_dic)
ftest('Type of Employment',type_of_employement_dic)
ftest('Location',location_dic)
ftest('Expense Type 1',exp_1_dic)
ftest('Expense Type 2',exp_2_dic)
ftest('Has Active Credit Card',has_active_dic)
ftest('Property Location',property_loc_dic)

In [263]:
df_test.isna().sum()

Customer ID                    0
Name                           0
Gender                         0
Age                            0
Income (USD)                   0
Income Stability               0
Profession                     0
Type of Employment             0
Location                       0
Loan Amount Request (USD)      0
Current Loan Expenses (USD)    0
Expense Type 1                 0
Expense Type 2                 0
Dependents                     0
Credit Score                   0
No. of Defaults                0
Has Active Credit Card         0
Property ID                    0
Property Age                   0
Property Type                  0
Property Location              0
Co-Applicant                   0
Property Price                 0
dtype: int64

In [264]:
X=df.drop(columns=['Customer ID','Name','Property ID','Loan Sanction Amount (USD)'],axis=1)
y=df['Loan Sanction Amount (USD)']

In [265]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,shuffle=True)

In [266]:
from sklearn.ensemble import GradientBoostingRegressor
gbr=GradientBoostingRegressor()

In [267]:
gbr.fit(X_train,y_train)

GradientBoostingRegressor()

In [268]:
gbr.score(X_train,y_train)*100

78.95063462095877

In [269]:
gbr.score(X_test,y_test)*100

74.1367013111898

In [270]:
gbr.fit(X,y)

GradientBoostingRegressor()

In [271]:
gbr.score(X,y)*100

77.73745065963476

In [272]:
data={}

In [273]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Customer ID                  20000 non-null  object
 1   Name                         20000 non-null  int64
 2   Gender                       20000 non-null  int64
 3   Age                          20000 non-null  int64
 4   Income (USD)                 20000 non-null  float64
 5   Income Stability             20000 non-null  int64
 6   Profession                   20000 non-null  int64
 7   Type of Employment           20000 non-null  int64
 8   Location                     20000 non-null  int64
 9   Loan Amount Request (USD)    20000 non-null  float64
 10  Current Loan Expenses (USD)  20000 non-null  float64
 11  Expense Type 1               20000 non-null  int64
 12  Expense Type 2               20000 non-null  int64
 13  Dependents                   20000 non-null  float64
 14  Credit Score                 20000 non-null  float64
 15  No. of Defaults              20000 non-null  int64
 16  Has Active Credit Card       20000 non-null  int64
 17  Property ID                  20000 non-null  int64
 18  Property Age                 20000 non-null  float64
 19  Property Type                20000 non-null  int64
 20  Property Location            20000 non-null  int64
 21  Co-Applicant                 20000 non-null  object
 22  Property Price               20000 non-null  object
dtypes: float64(6), int64(14), object(3)
memory usage: 3.5+ MB

In [274]:
df_test['Co-Applicant'].value_counts()

1    17004
0     2919
?       77
Name: Co-Applicant, dtype: int64

In [275]:
df_test['Property Price'].value_counts()

?            168
37220.06       2
77441.22       2
197833.75      2
60060.83       2
            ...
14200.98       1
98220.84       1
192924.06      1
73174.73       1
14855.29       1
Name: Property Price, Length: 19824, dtype: int64

In [276]:
df_test.loc[df_test['Co-Applicant']=='?','Co-Applicant']=str(1)
df_test.loc[df_test['Property Price']=='?','Property Price']=df['Property Price'].median()

In [277]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29660 entries, 0 to 29999
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Customer ID                  29660 non-null  int64
 1   Name                         29660 non-null  int64
 2   Gender                       29660 non-null  int64
 3   Age                          29660 non-null  int64
 4   Income (USD)                 29660 non-null  float64
 5   Income Stability             29660 non-null  int64
 6   Profession                   29660 non-null  int64
 7   Type of Employment           29660 non-null  int64
 8   Location                     29660 non-null  int64
 9   Loan Amount Request (USD)    29660 non-null  float64
 10  Current Loan Expenses (USD)  29660 non-null  float64
 11  Expense Type 1               29660 non-null  int64
 12  Expense Type 2               29660 non-null  int64
 13  Dependents                   29660 non-null  float64
 14  Credit Score                 29660 non-null  float64
 15  No. of Defaults              29660 non-null  int64
 16  Has Active Credit Card       29660 non-null  int64
 17  Property ID                  29660 non-null  int64
 18  Property Age                 29660 non-null  float64
 19  Property Type                29660 non-null  int64
 20  Property Location            29660 non-null  int64
 21  Co-Applicant                 29660 non-null  int64
 22  Property Price               29660 non-null  float64
 23  Loan Sanction Amount (USD)   29660 non-null  float64
dtypes: float64(8), int64(16)
memory usage: 5.7 MB

In [278]:
df_test['Co-Applicant']=df_test['Co-Applicant'].astype('int64')
df_test['Property Price']=df_test['Property Price'].astype('float64')

In [279]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Customer ID                  20000 non-null  object
 1   Name                         20000 non-null  int64
 2   Gender                       20000 non-null  int64
 3   Age                          20000 non-null  int64
 4   Income (USD)                 20000 non-null  float64
 5   Income Stability             20000 non-null  int64
 6   Profession                   20000 non-null  int64
 7   Type of Employment           20000 non-null  int64
 8   Location                     20000 non-null  int64
 9   Loan Amount Request (USD)    20000 non-null  float64
 10  Current Loan Expenses (USD)  20000 non-null  float64
 11  Expense Type 1               20000 non-null  int64
 12  Expense Type 2               20000 non-null  int64
 13  Dependents                   20000 non-null  float64
 14  Credit Score                 20000 non-null  float64
 15  No. of Defaults              20000 non-null  int64
 16  Has Active Credit Card       20000 non-null  int64
 17  Property ID                  20000 non-null  int64
 18  Property Age                 20000 non-null  float64
 19  Property Type                20000 non-null  int64
 20  Property Location            20000 non-null  int64
 21  Co-Applicant                 20000 non-null  int64
 22  Property Price               20000 non-null  float64
dtypes: float64(7), int64(15), object(1)
memory usage: 3.5+ MB

In [280]:
submission=pd.DataFrame({'Customer ID':df_test['Customer ID'],'Loan Sanction Amount (USD)':gbr.predict(df_test.drop(columns=['Customer ID','Name','Property ID'],axis=1))})

In [281]:
submission.head()

  Customer ID  Loan Sanction Amount (USD)
0     C-26247                86580.613508
1     C-35067                65106.661035
2     C-34590                17989.340760
3     C-16668                46405.248509
4     C-12196                67265.705653

In [282]:
submission.shape

(20000, 2)

In [283]:
submission.to_csv('submission.csv',index=False)